<h1>Welcome to <%= @user.organization %>!</h1>

<p>
  Congratulations on your new role as <%= @user.title %>.
</p>

<p>
  We want notify you that <%= @user.organization %> has created an account for you on Shape.
</p>

<p>
  Shape is an application that will make your transition into <%= @user.organization %> smoother by
  facilitating integration exercises between you and your new coworkers.
</p>

<p>
  You can take a look at the Shape website in order to see what activities <%= @admin.name %>,
  has assigned to you. You can also click into these activities in order to read a more in depth
  description and find out the goals that have been set for you during the activity.
</p>

<p>
  Take a look at the application by clicking on the below link and using the provided login information.
  http://shape-culture.herokuapp.com/
</p>
<p>
  <%= @user.email %>
<p>
<p>
  123456
</p>
