<!-- Admin User View -->
<% if current_user.admin == 1 %>
  <h4 class="home-header"><%= link_to "Register a New Hire", new_user_url, class:"dropdown-link" %></h4>

  <% if @users != nil %>
    <p class="home-header">OR</p>

    <h4 class="home-header">
      Start integrating by picking activities for
      <div class="dropdown" style="display: inline">
        <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div id="dropdown-link">
            <%= @new_hire.name %>
            <span class="caret"></span>
          </div>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown3">
          <p class="home-dropdown-header">Registered Employees:</p>
          <!-- Display links to user profiles of Admin's Employees -->
          <% @users.each do |e| %>
            <%= form_for(current_user, url: :select_employee) do |f| %>
              <%= f.hidden_field :new_hire_email, value: e.email %>
              <%= f.submit "#{e.name}", id:"list-link" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </h4>

  <div class="half-screen">
    <div class="block-wrap">
      <h4 class="home-header">Choose Activities</h4>
      <% @activities.each do |a| %>
        <ul class="list">
          <br /><li><%= link_to a.name, "/users/#{current_user.id}/activities/#{a.id}", class:"link" %></li>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="half-screen">
    <div class="block-wrap">
      <!-- Change to name eventually & make a variable current_user.employees.find_by(email: new_hire_email) -->
      <h4 class="home-header"><%= @new_hire.name %>'s Activities</h4>
      <% if @trackers != nil %>
        <% @trackers.each do |t| %>
          <ul class="list">
            <br /><li><%= link_to t.activity.name, "/trackers/#{t.id}/edit", class:"link" %></li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<!-- Normal User View -->
<% else %>
<div class="container">
  <div class="block-wrap">
    <h3 class="home-header">Welcome to the Organization</h3>

    <p class="welcome-text">This is Shape, your employee integration application!</p>

    <p class="welcome-text">
      The app will provide you with integration activities so that  gain a deeper
      understanding of your workplace's culture and its employees.
    </p>

    <p class="welcome-text">
      In order to being learning about the common set of values, norms and behaviours
      of your workplace, click the "Get Started" button below.
    </p>

    <div class="center-wrap">
      <%= link_to "Get Started", user_url(current_user), class:"submit", id:"blue" %>
    </div>
  </div>
</div>
<% end %>
