<!-- Admin User View -->
<% if current_user.admin == 1 %>
  <% @users.each do |u| %>
    <b><%= u.email %>'s</b> progress & feedback:

    <p class="progress-text">Completed Activities:</p>
    <% u.activities.where(status: 1).each do |a| %>
      <%= a.name %>
    <% end %>

    <p class="progress-text">Feedback given:</p>
    <% u.feedbacks.each do |f| %>
      <%= f.first_takeaway %>
    <% end %>
  <% end %>

<!-- Normal User View -->
<% else %>
  <h1 class="home-title">Welcome to the CSD</h1>

  <p class="welcome-text">This is your employee onboarding challenge!</p>

  <p class="welcome-text">
    By completing the integration activities you will become more acquainted with
    your new coworkers and you will gain a deeper understanding of the
    organizational culture in the Corporate Services Division.
  </p>

  <p class="welcome-text">
    For each activity you complete, you will be rewarded with money towards a gift
    card of your choosing. Upon completing all activities you will be rewarded the
    total $20 gift card of your choosing. If you don't complete all of the
    activities you will still be awarded for your progress!
  </p>

  <div class="link-wrap">
    <% if current_user.reward == nil %>
      <%= button_to "Click here to get started", {controller: :rewards, action: :create,
          reward: { name: "Progress", user_id: current_user.id, award: 0 }},
          class:"submit", id:"blue" %><br />
    <% else %>
      <%= link_to "PROFILE", user_url(current_user), class:"submit", id:"blue" %>
    <% end %>
  </div>
<% end %>
