<h3 class="progress-title">Current Progress</h3>

<% @users.where(admin: nil).each do |u| %>
  <div class="progress-wrap">
    <p class=""><b><%= u.email %>'s</b> progress:</p>
    <!-- Display all of User's completed Activities with Feedback as Dropdown (if they exist) -->
    <% u.activities.where(status: 1).each do |a| %>
      <div class="dropdown">
        <%= render 'feedback-dropdown', a: a %>
        <p class="status">COMPLETE</p>
        <%= render 'progress-due-date', a: a %>
      </div>
    <% end %>
    <!-- Display all of User's incomplete Activities with Feedback as Dropdown (if they exist) -->
    <% u.activities.where(status: nil).each do |a| %>
      <div class="dropdown">
        <%= render 'feedback-dropdown', a: a %>
        <p class="status">INCOMPLETE</p>
          <%= render 'progress-due-date', a: a %>
      </div>
    <% end %>
  </div>
<% end %>
