<div class="form-container">
  <%= form_for(@user, url: :register_employee) do |f| %>
    <% if @user.errors.any? %>
      <h4 class="error-header"><%= pluralize(@user.errors.count, "error") %> occurred!</h4>

      <ul class="error-list">
        <% @user.errors.full_messages.each do |msg| %>
          <li class="error-msg"><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="field">
      <%= f.label :name, class:"field-label" %>
      <%= f.text_field :name, placeholder:"Firstname Lastname", autofocus: true, class:"field-input" %>
    </div>

    <div class="field">
      <%= f.label :email, class:"field-label" %>
      <%= f.email_field :email, placeholder:"example@email.com", autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :organization, class:"field-label" %>
      <%= f.text_field :organization, placeholder:"Your Comapny", autofocus: true, class:"field-input" %>
    </div>

    <%= f.hidden_field :admin_id, value: current_user.id %>
    <%= f.hidden_field :password, value: '123456' %>
    <%= f.hidden_field :password_confirmation, value: '123456' %>

    <div class="actions" style="margin-top: 10px;">
      <%= f.submit "REGISTER", class:"submit", id:"blue" %>
    </div><br />
  <% end %>
</div>
