<h1 class="home-title">Welcome</h1>

<div class="third">
  <h4 class="home-header">Activities to be Completed</h4>
  <% @activities.where(status: nil).each do |a| %>
    <%= link_to "/activities/#{a.id}" do %>
      <li class="activity-items">
        <div class="circle" id="green">
          <p class="circle-text"><%= a.name %></p>
        </div>
      </li>
    <% end %>
  <% end %>
</div>

<div class="third">
  <h4 class="home-header">Gift Card $$$ Awarded</h4>
  <div class="square">
    <p class="square-text"><b><%= @reward.name %>:</b> $<%= @reward.award %></p>
  </div>
</div>

<div class="third">
  <h4 class="home-header">Activities Completed</h4>
  <% @activities.where(status: 1).each do |c| %>
    <%= link_to "/activities/#{c.id}" do %>
      <li class="activity-items">
        <div class="circle" id="blue">
          <p class="circle-text"><%= c.name + " ($#{c.prize})" %></p>
        </div>
      </li>
    <% end %>
  <% end %>
</div>
