<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @employees %>,</h1>

    <p>
      We are emailing to notify you that <%= @admin.name %> has assigned you to facilitate an integration activity for the new hire <%= @new_hire.name %>. The activity you are required to facilitate is <%= @tracker.activity.name %> which will consist of <%= @tracker.activity.new_hire_description %>. The date you must do this by is <%= @tracker.due_date %>.
    </p>

    <p>
      Please reach out to <%= @new_hire.name %>, at <%= @new_hire.email %> and schedule a time for this activity to take place.
    </p><br>

    <p>
      Thanks,
    </p>

    <p>
      Shape Team
    </p>
  </body>
</html>
