<%= form_for(@tracker) do |f| %>
  <% if @tracker.errors.any? %>
    <h3 class="error-header"><%= pluralize(@tracker.errors.count, "error") %> occurred!</h3>

    <ul class="error-list">
      <% @tracker.errors.full_messages.each do |msg| %>
        <li class="error-msg"><%= msg %></li>
      <% end %>
    </ul>

  <% end %>

  <div class="field">
    <%= f.label :user_email, "Assign this activity to", class:"field-label" %>
    <label class="green-text"><%= current_user.new_hire_email + "?" %></label>
  </div>

  <%= f.hidden_field :user_email, value: current_user.new_hire_email %>

  <%= f.hidden_field :activity_id, value: @activity.id %>

  <div class="field">
    <%= f.label :contact, "Employee Contact", class:"field-label" %>
    <%= f.text_field :contact, placeholder:"example@email.com", class:"field-input" %>
  </div>

  <div class="field">
    <%= f.label :due_date, "Due Date", class:"field-label" %>
    <%= f.datetime_select :due_date, class:"field-input" %>
  </div>

  <%= f.submit "ASSIGN", class:"submit", id:"green" %>

  <%= link_to "BACK", "/trackers", class:"submit", id:"green" %>

<% end %>
