<h3 class="home-header">Edit <div class="green-text"><%= current_user.new_hire_email %>'s</div> Activity Details</h3>

<div class="container">
  <div class="block-wrap">
    <h4 class="home-header"><%= @tracker.activity.name %></h4>

    <p class="home-text" id="paragraph"><b>Due:</b> <%= @tracker.due_date.strftime('%A, %B %d @ %H:%M') %></p>

    <p class="home-text" id="paragraph"><%= @tracker.activity.new_hire_description %></p>
  </div>
</div>

<div class="half-screen">
  <div class="block-wrap" id="tracker-edit">
    <p class="home-text"><b>Default Questions:</b></p>
    <p class="home-text"><b>1)</b> <%= @tracker.activity.task_one %></p>
    <p class="home-text"><b>2)</b> <%= @tracker.activity.task_two %></p>
    <p class="home-text"><b>3)</b> <%= @tracker.activity.task_three %></p>
    <p class="home-text"><b>4)</b> <%= @tracker.activity.task_four %></p>
    <p class="home-text"><b>5)</b> <%= @tracker.activity.task_five %></p>
  </div>
</div>

<%= form_for(@tracker) do |f| %>
  <div class="half-screen">
    <div class="block-wrap" id=tracker-edit>
      <% if @tracker.errors.any? %>
        <h3 class="error-header"><%= pluralize(@tracker.errors.count, "error") %> occurred!</h3>

        <ul class="error-list">
          <% @tracker.errors.full_messages.each do |msg| %>
            <li class="error-msg"><%= msg %></li>
          <% end %>
        </ul>
      <% end %>

      <%= f.hidden_field :user_email, value: current_user.new_hire_email %>

      <%= f.hidden_field :activity_id, value: @tracker.activity.id %>

      <p class="home-text"><b>Customize Questions:</b></p>

      <div class="field">
        <%= f.label :question_one, "1)", class:"field-label" %>
        <%= f.text_field :question_one, placeholder:"#{@tracker.question_one}", class:"field-input" %>
      </div>

      <div class="field">
        <%= f.label :question_two, "2)", class:"field-label" %>
        <%= f.text_field :question_two, placeholder:"#{@tracker.question_two}", class:"field-input" %>
      </div>

      <div class="field">
        <%= f.label :question_three, "3)", class:"field-label" %>
        <%= f.text_field :question_three, placeholder:"#{@tracker.question_three}", class:"field-input" %>
      </div>

      <div class="field">
        <%= f.label :question_four, "4)", class:"field-label" %>
        <%= f.text_field :question_four, placeholder:"#{@tracker.question_four}", class:"field-input" %>
      </div>

      <div class="field">
        <%= f.label :question_five, "5)", class:"field-label" %>
        <%= f.text_field :question_five, placeholder:"#{@tracker.question_five}", class:"field-input" %>
      </div>
    </div>
  </div>

    <div class="container" style="clear: both;">
      <div class="field">
        <%= f.label :contact_one, "1st Employee Contact", class:"field-label" %>
        <%= f.text_field :contact_one, placeholder:"example@email.com", class:"field-input" %>
      </div>

      <div class="field">
        <%= f.label :contact_two, "2nd Employee Contact", class:"field-label" %>
        <%= f.text_field :contact_two, placeholder:"example@email.com", class:"field-input" %>
      </div>

      <div class="field">
        <%= f.label :contact_three, "3rd Employee Contact", class:"field-label" %>
        <%= f.text_field :contact_three, placeholder:"example2@email.com", class:"field-input" %>
      </div>

      <div class="field">
        <%= f.label :contact_four, "4th Employee Contact", class:"field-label" %>
        <%= f.text_field :contact_four, placeholder:"example3@email.com", class:"field-input" %>
      </div>

      <div class="field">
        <%= f.label :contact_five, "5th Employee Contact", class:"field-label" %>
        <%= f.text_field :contact_five, placeholder:"example4@email.com", class:"field-input" %>
      </div>

      <div class="field">
        <%= f.label :due_date, "Due Date", class:"field-label" %>
        <%= f.datetime_select :due_date, class:"field-input" %>
      </div>

      <%= f.submit "SAVE", class:"submit", id:"green" %>

      <%= link_to "BACK", home_url, class:"submit", id:"green" %>
    </div>
<% end %>

<%= button_to 'DELETE', @tracker, method: :delete, data: {confirm: "Are you sure?"}, class:"delete", id:"red" %>
