<h3 class="home-header">
  Start integrating by picking activities for
  <div class="dropdown" style="display: inline">
    <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div id="link">
        <%= current_user.new_hire_email %>
        <span class="caret"></span>
      </div>
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdown3">
      <p class="progress-text" style="margin-top: 0;">Registered Employees:</p>
      <!-- Display links to user profiles of Admin's Employees -->
      <% if current_user.employees != nil %>
        <% current_user.employees.each do |e| %>
          <%= form_for(current_user, url: :select_employee) do |f| %>
            <%= f.hidden_field :new_hire_email, value: e.email %>
            <%= f.submit "#{e.email}", class:"link", id:"submit-nav-link" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</h3>

<div class="half-screen">
  <div class="wrap">
    <h3 class="home-header">Assigned Activities</h3>
    <% if @trackers != nil %>
      <% @trackers.each do |t| %>
        <% Activity.where(id: t.activity_id).each do |tracked_activity| %>
          <ul class="list">
            <br /><li><%= link_to tracked_activity.name, "/trackers/#{tracked_activity.id}/edit", class:"link" %></li>
          </ul>
        <% end %>
      <% end %>
    <% end  %>
  </div>
</div>

<div class="half-screen">
  <div class="wrap">
    <h3 class="home-header">Choose Options</h3>
    <% @activities.each do |a| %>
      <ul class="list">
        <br /><li><%= link_to a.name, "/users/#{current_user.id}/activities/#{a.id}", class:"link" %></li>
      </ul>
    <% end %>
  </div>
</div>
