<h3 class="home-header">Assign Activities to <%= current_user.new_hire_email %></h3>

<p class="home-header">OR</p>

<h3 class="home-header"><%= link_to "Select another employee", home_url, class:"link" %></h3>

<%= link_to "Add New Activity for #{current_user.new_hire_email}", '/trackers/new', class:"submit", id:"blue" %>

<% if @trackers != nil %>
  <% @trackers.each do |t| %>
    <% Activity.where(id: t.activity_id).each do |tracked_activity| %>
      <ul class="list">
        <br /><li><%= link_to tracked_activity.name, "/trackers/#{tracked_activity.id}/edit", class:"link" %></li>
      </ul>
    <% end %>
  <% end %>
<% end  %>

<h3 class="home-header">Your Unassigned Activities</h3>

<% @activities.each do |a| %>
  <ul class="list">
    <br /><li><%= link_to a.name, "/users/#{current_user.id}/activities/#{a.id}", class:"link" %></li>
  </ul>
<% end %>
