<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <h2 class="error-header"><%= pluralize(@activity.errors.count, "error") %> occurred!</h2>

    <ul class="error-list">
      <% @activity.errors.full_messages.each do |msg| %>
        <li class="error-msg"><%= msg %></li>
      <% end %>
    </ul>

  <% end %>

  <div class="field">
    <%= f.label :reward_id, "Enter a profile ID # here to assign activity", class:"field-label" %>
    <%= f.number_field :reward_id, class:"field-input" %>
  </div>

  <div class="field">
    <%= f.label :name, class:"field-label" %>
    <%= f.text_field :name, class:"field-input" %>
  </div>

  <div class="field">
    <%= f.label :description, class:"field-label" %>
    <%= f.text_field :description, class:"field-input" %>
  </div>

  <div class="field">
    <%= f.label :status, class:"field-label" %>
    <%= f.check_box :status, class:"field-input" %>
  </div>

  <div class="field">
    <%= f.label :task_one, "Task 1", class:"field-label" %>
    <%= f.text_field :task_one, class:"field-input" %>
  </div>

  <div class="field">
    <%= f.label :task_two, "Task 2", class:"field-label" %>
    <%= f.text_field :task_two, class:"field-input" %>
  </div>

  <div class="field">
    <%= f.label :task_three, "Task 3", class:"field-label" %>
    <%= f.text_field :task_three, class:"field-input" %>
  </div>

  <div class="field">
    <%= f.label :task_four, "Task 4", class:"field-label" %>
    <%= f.text_field :task_four, class:"field-input" %>
  </div>

  <div class="field">
    <%= f.label :task_five, "Task 5", class:"field-label" %>
    <%= f.text_field :task_five, class:"field-input" %>
  </div><br />

  <%= f.submit "SUBMIT", class:"submit" %>

  <%= link_to "BACK", "/activities", class:"link" %>

<% end %>
