<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <h2 class="error-header"><%= pluralize(@activity.errors.count, "error") %> occurred!</h2>

    <ul class="error-list">
      <% @activity.errors.full_messages.each do |msg| %>
        <li class="error-msg"><%= msg %></li>
      <% end %>
    </ul>

  <% end %>

  <%= f.hidden_field :status, value: nil %>
  <%= f.hidden_field :prize, value: 1 %>

  <div class="field">
    <%= f.label :user_id, "Assign activity to New Hire", class:"field-label" %>
    <%= f.text_field :user_id, placeholder:"example@email.com", class:"field-input" %>
  </div>

  <div class="field">
    <%= f.label :contact, "Employee Contact", class:"field-label" %>
    <%= f.text_field :contact, placeholder:"example@email.com", class:"field-input" %>
  </div>

  <!-- <div class="field">
    <%= f.label :prize, "Prize ($)", class:"field-label" %>
    <%= f.number_field :prize, class:"field-input", step: 0.01 %>
  </div> -->

  <%= f.hidden_field :prize, value: 1 %>

  <div class="field">
    <%= f.label :name, class:"field-label" %>
    <%= f.text_field :name, class:"field-input" %>
  </div>

  <div class="field">
    <%= f.label :description, class:"field-label" %>
    <%= f.text_field :description, class:"field-input" %>
  </div>

  <!-- <div class="field">
    <%= f.label :status, class:"field-label" %>
    <%= f.check_box :status, class:"field-input" %>
  </div> -->

  <!-- <div class="field">
    <%= f.label :task_one, "Task 1", class:"field-label" %>
    <%= f.text_field :task_one, class:"field-input" %>
  </div>

  <div class="field">
    <%= f.label :task_two, "Task 2", class:"field-label" %>
    <%= f.text_field :task_two, class:"field-input" %>
  </div>

  <div class="field">
    <%= f.label :task_three, "Task 3", class:"field-label" %>
    <%= f.text_field :task_three, class:"field-input" %>
  </div>

  <div class="field">
    <%= f.label :task_four, "Task 4", class:"field-label" %>
    <%= f.text_field :task_four, class:"field-input" %>
  </div>

  <div class="field">
    <%= f.label :task_five, "Task 5", class:"field-label" %>
    <%= f.text_field :task_five, class:"field-input" %>
  </div><br /> -->

  <%= f.submit "SUBMIT", class:"submit", id:"blue" %>

  <%= link_to "BACK", "/activities", class:"submit", id:"blue" %>

<% end %>
