<h1 class="home-header"><%= @activity.name %></h1>

<p class="home-text" id="paragraph"><%= @activity.description %></p>

<p class="home-text"><b>Question 1:</b> <%= @activity.task_one %></p>
<p class="home-text"><b>Question 2:</b> <%= @activity.task_two %></p>
<p class="home-text"><b>Question 3:</b> <%= @activity.task_three %></p>
<p class="home-text"><b>Question 4:</b> <%= @activity.task_four %></p>
<p class="home-text"><b>Question 5:</b> <%= @activity.task_five %></p>

<h1 class="home-header">Answer below:</h1>

<%= form_for([@activity, @feedback]) do |f| %>
  <div class="field">
    <%= f.label :first_takeaway, class:"field-label" %>
    <%= f.text_field :first_takeaway, class:"field-input" %>
    <% if @feedback.first_takeaway.present? %>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <% end %>
  </div><br />

  <div class="field">
    <%= f.label :second_takeaway, class:"field-label" %>
    <%= f.text_field :second_takeaway, class:"field-input" %>
    <% if @feedback.second_takeaway.present? %>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <% end %>
  </div><br />

  <div class="field">
    <%= f.label :third_takeaway, class:"field-label" %>
    <%= f.text_field :third_takeaway, class:"field-input" %>
    <% if @feedback.third_takeaway.present? %>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <% end %>
  </div><br />

  <div class="field">
    <%= f.label :fourth_takeaway, class:"field-label" %>
    <%= f.text_field :fourth_takeaway, class:"field-input" %>
    <% if @feedback.fourth_takeaway.present? %>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <% end %>
  </div><br />

  <div class="field">
    <%= f.label :fifth_takeaway, class:"field-label" %>
    <%= f.text_field :fifth_takeaway, class:"field-input" %>
    <% if @feedback.fifth_takeaway.present? %>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <% end %>
  </div><br />

  <%= f.submit "SAVE ANSWERS", class:"submit", id:"green" %>
<% end %>

<% if @activity.status != 1 %>
  <%= form_for(@activity) do |f| %>
    <%= f.hidden_field :status, value: 1 %>
    <%= f.submit "MARK COMPLETE (DON'T FORGET TO SAVE ANSWERS FIRST)", class:"submit", id:"blue" %>
  <% end %>
<% else %>
  <%= form_for(@activity) do |f| %>
    <%= f.hidden_field :status, value: nil %>
    <%= f.submit 'MARK INCOMPLETE', class:"submit", id:"red" %>
  <% end %>
<% end %>
