<!DOCTYPE html>
<html>
  <head>
    <title>Culture</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? && current_user.admin == nil %>
      <li class="nav-link"><%= link_to 'Logout', destroy_user_session_url, method: :delete, class:"link" %></li>
    <% elsif user_signed_in? && current_user.admin == 1 %>
      <nav class="navbar navbar-default">
        <li class="nav-link"><%= link_to 'Logout', destroy_user_session_url, method: :delete, class:"link" %></li>
        <li class="<%= current_page?('/rewards') ? 'active' : 'nav-link' %>"><%= link_to 'Rewards', rewards_url, class:"link" %></li>
        <li class="<%= current_page?('/activities') ? 'active' : 'nav-link' %>"><%= link_to 'Assign Activities', activities_url, class:"link" %></li>
        <li class="<%= current_page?('/users') ? 'active' : 'nav-link' %>"><%= link_to 'Current Progress', users_url, class:"link" %></li>
      </nav>
    <% end %>

    <% if flash[:alert] %>
      <p class="alert"><%= flash[:alert] %></p>
    <% end %>

    <% if flash[:notice] %>
      <p class="alert"><%= flash[:notice] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
