<!DOCTYPE html>
<html>
  <head>
    <title>Culture</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? && current_user.admin == nil %>
      <li class="nav-link"><%= link_to 'LOGOUT', destroy_user_session_url, method: :delete, class:"link" %></li>
    <% elsif user_signed_in? && current_user.admin == 1 %>
      <nav class="navbar navbar-default">
        <li class="nav-link"><%= link_to 'LOGOUT', destroy_user_session_url, method: :delete, class:"link" %></li>
        <!-- <li class="<%= current_page?('/rewards') ? 'active' : 'nav-link' %>"><%= link_to 'Rewards', rewards_url, class:"link" %></li> -->
        <li class="<%= current_page?('/users/home') ? 'active' : 'nav-link' %>"><%= link_to 'HOME', home_url, class:"link" %></li>
        <li class="<%= current_page?('/activities/new') ? 'active' : 'nav-link' %>"><%= link_to 'ADD ACTIVITIES', new_activity_url, class:"link" %></li>
        <li role="presentation" class="dropdown" style="display: inline;">
          <a class="dropdown-toggle" id="link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            CURRENT PROGRESS
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <p class="progress-text">Employees:</p>
            <!-- Display links to user profiles of Admin's Employees -->
            <% if current_user.employees != nil %>
              <% current_user.employees.each do |e| %>
                <%= form_for(current_user, url: :select_employee) do |f| %>
                  <%= f.hidden_field :new_hire_email, value: e.email %>
                  <%= f.submit "#{e.email}", class:"link", id:"submit-nav-link" %>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </li>
      </nav>
    <% end %>

    <% if flash[:alert] %>
      <p class="alert"><%= flash[:alert] %></p>
    <% end %>

    <% if flash[:notice] %>
      <p class="alert"><%= flash[:notice] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
